
.aboutus {
  padding-top: 60px;
  &-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
  }
  &-text {
    &__title {
      font-weight: bold;
      text-align: center;
      font-size: 20px;
      margin-bottom: 10px;
    }
    &__descr {
      max-width: 600px;
      text-align: center;
      font-size: 18px;
    }
  }
}